In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"C:\Users\sures\Downloads\Downloads_1\obesity_pred\Obesity Classification.csv")
df.head()

   ID  Age  Gender  Height  Weight   BMI          Label
0   1   25    Male     175      80  25.3  Normal Weight
1   2   30  Female     160      60  22.5  Normal Weight
2   3   35    Male     180      90  27.3     Overweight
3   4   40  Female     150      50  20.0    Underweight
4   5   45    Male     190     100  31.2          Obese

In [2]:
df = df.drop('ID', axis=1)
df.head()

   Age  Gender  Height  Weight   BMI          Label
0   25    Male     175      80  25.3  Normal Weight
1   30  Female     160      60  22.5  Normal Weight
2   35    Male     180      90  27.3     Overweight
3   40  Female     150      50  20.0    Underweight
4   45    Male     190     100  31.2          Obese

In [3]:
df['Gender'].value_counts()

Male      56
Female    52
Name: Gender, dtype: int64

In [4]:
def convert_to_int_for_gender(gender):
    word_dict = {'Male':1, 'Female':0}
    return word_dict[gender]

df['Gender'] = df['Gender'].apply(lambda x : convert_to_int_for_gender(x))

In [5]:
df.head()

   Age  Gender  Height  Weight   BMI          Label
0   25       1     175      80  25.3  Normal Weight
1   30       0     160      60  22.5  Normal Weight
2   35       1     180      90  27.3     Overweight
3   40       0     150      50  20.0    Underweight
4   45       1     190     100  31.2          Obese

In [6]:
df['Label'].value_counts()

Underweight      47
Normal Weight    29
Overweight       20
Obese            12
Name: Label, dtype: int64

In [7]:
# we divide it into dependent and independent values

X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
X.head()

   Age  Gender  Height  Weight   BMI
0   25       1     175      80  25.3
1   30       0     160      60  22.5
2   35       1     180      90  27.3
3   40       0     150      50  20.0
4   45       1     190     100  31.2

In [9]:
# train and test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [10]:
X_test.head()

    Age  Gender  Height  Weight   BMI
84   18       0     160      20   8.3
10   18       1     175      70  23.4
75   50       0     130      60  22.5
2    35       1     180      90  27.3
24   88       1     190     100  31.2

In [11]:
import os
test_data = X_test.to_csv(r'C:/Users/sures/Downloads/Downloads_1/obesity_pred/test_data.csv')
test_data_labels = y_test.to_csv(r'C:/Users/sures/Downloads/Downloads_1/obesity_pred/test_data_labels.csv')

In [12]:
# Implement random forest classifier

from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [13]:
y_pred = classifier.predict(X_test)

In [14]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
score

0.9696969696969697

In [15]:
s = np.array([25,1,175,80,25.3])
s = s.reshape(1,-1)
ans = classifier.predict(s)
ans

C:\Users\sures\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['Normal Weight'], dtype=object)

In [16]:
import pickle
pickle_out = open('weight_model.pkl','wb')
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [17]:
classifier.predict([[25,1,175,80,25.3]])

C:\Users\sures\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['Normal Weight'], dtype=object)